html
  head
    title='Docker Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Innominds!!!
        h1 This is commited by manoj
        h1 second commit by manoj
        p Simple web app that is not patched and not safe!!
        p 
